<section id="main-container">
<h1>Like the Carman Fiat Facebook Page<h1>
<div class="fb-like" data-href="http://www.facebook.com/carmanfiat" data-send="true" data-width="450" data-show-faces="true" data-font="verdana"></div>

<h1>Now Help Friends By Voting on Fiat Experience App</h1>
<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out", class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Vote for Friends", "/auth/facebook", id: "sign_in", class: "btn btn-primary btn-large" %>
  <% end %>
</div>
<h1>OR Check the Leaderboard</h1>
	<% if current_user %>
	    Signed in as <strong><%= current_user.name %></strong>!
	    <%= link_to "Sign out", signout_path, id: "sign_out", class: "btn btn-primary" %>
	  <% else %>
	    <%= link_to "Vote for Friends", "/auth/facebook", id: "sign_in", class: "btn btn-primary btn-large" %>
	  <% end %>
</section>